
backup-bad.png
backup-bad.psb
backup-bad32.ico
backup-bad32.png
backup-ok.png
backup-ok.psb
backup-ok32.png
BaseImage.psb
BaseImage_ok.psb
comp.uri
curr_version.txt
data_dbg/*
data_x64/*
Debug/*
Installer/*
ipch/*
KillProc/Debug/*
KillProc/ipch/*
*.ncb
*.sdf
*.suo
*.vcproj*
*.vcxproj.user
KillProc/Release/*
KillProc/x64/*
logos/*
messages.mo
pw.txt
release.bat
Release/*
sha256deep.exe
signer/*
test
tool2.exe
update_data.bat
update_data_dbg.bat
update_sign.bat
urbackup - Kopie.nsi
UrBackup Client*.exe
urbackup/*
UrBackupClientGUI.aps
UrBackupUpdate.exe
UrBackupUpdate.sig
VCRedist/*
wx64/*
wx86/*
x64/*
UrBackupClientGUI.exe
UrBackupClientGUI.opensdf
gui/settings.fbp.bak
new.txt
data/*.dll
data/desktop.ini
data/install.reg
data/prefilebackup_new.bat
data/uninstall/*
data/updates_h.dat
data/urbackup/backup_client_new.db
data/urbackup/data/*
data/*.exe
data/urbackup_dsa.pub
backup-ok-big.ico
data/*.txt
UrBackup Client*.wixpdb
UrBackup Client*.msi
urbackup.wixobj
urbackup.wixpdb
Kiwi_LogViewer_2.1.0_Win32.setup.exe
pdbs/*
data/lang/*
build_msi.bat.orig
data/info.txt.orig
urbackup.nsi.orig
urbackup.wxi.orig
version.txt.orig
wx86_old/*
wx64_old/*
urbackup_notray.wixobj
urbackup_notray - Kopie.wxs
urbackup.wxs.notray.patch
urbackup.wxs.orig
urbackup.wxs.rej
KillProc/dist/dist.zip
KillProc/dist/KillProc_x64.exe
KillProc/dist/KillProc_x86.exe
KillProc/KillProc_src.zip
