<?xml version='1.0'?>
<Wix xmlns='http://schemas.microsoft.com/wix/2006/wi' xmlns:util='http://schemas.microsoft.com/wix/UtilExtension' xmlns:firewall='http://schemas.microsoft.com/wix/FirewallExtension'>
	<?include $(sys.CURRENTDIR)\urbackup.wxi?>
	<Product Id='$(var.ProductID)' Name='UrBackup Client' Language='1033'
            Version='1.3.1.0' Manufacturer='Martin Raiber' UpgradeCode='87d7bb18-2091-4876-a8de-0c47f7d2e052'>
    <Package Description='Client for UrBackup Server'
             Comments='Client for UrBackup Server. Allows file and image backups'
             Manufacturer='Martin Raiber' InstallerVersion='300' Compressed='yes' Platform='$(var.Platform)'/>
			 
	<MajorUpgrade DowngradeErrorMessage="A later version of [ProductName] is already installed. Setup will now exit." />
	
    <Media Id='1' Cabinet='urbackup.cab' EmbedCab='yes' />
	
	<?if $(var.Platform)=x64 ?>
	<Condition Message="You are attempting to run the 32-bit installer on a 64-bit version of Windows.">
		<![CDATA[Msix64]]>
	</Condition>
	<?endif?>
	
	<InstallExecuteSequence>
		<Custom Action="WixCloseApplications" Before="InstallInitialize" />
	</InstallExecuteSequence>
	
	<util:CloseApplication Id="CloseUrBackupClient" CloseMessage="yes"
                           ElevatedCloseMessage="no" RebootPrompt="no" Target="UrBackupClient.exe" />

						   
    <Directory Id='TARGETDIR' Name='SourceDir'>
	  <Merge Id="VCRedist" SourceFile="C:\Program Files (x86)\Common Files\Merge Modules\Microsoft_VC100_CRT_x64.msm" DiskId="1" Language="0"/>
      <Directory Id='$(var.ProgramFilesFolder)' Name='PFiles'>
        <Directory Id='URBACKUPDIR' Name='UrBackup'>
			<Component Id='urbackup_client' Guid="$(var.ComponentID)" Win64="$(var.isx64)">
					<File Id='args' Name='args.txt' DiskId='1' Source='data\args.txt' />
					<File Id='prefilebackup_new.bat'  DiskId='1' Name='prefilebackup_new.bat' Source='data\prefilebackup_new.bat' />
					<File Id="cryptoplugin.dll"  DiskId='1' Name='cryptoplugin.dll' Source="$(var.datadir)\cryptoplugin.dll" />
					<File Id="fileservplugin.dll"  DiskId='1' Name='fileservplugin.dll' Source="$(var.datadir)\fileservplugin.dll" />
					<File Id="fsimageplugin.dll"  DiskId='1' Name='fsimageplugin.dll' Source="$(var.datadir)\fsimageplugin.dll" />
					<File Id="urbackup.dll"  DiskId='1' Name='urbackup.dll' Source="$(var.datadir)\urbackup.dll" />
					<File Id="UrBackupClient.exe"  DiskId='1' Name='UrBackupClient.exe' Source="$(var.datadir)\UrBackupClient.exe" />
					<File Id="UrBackupClient_cmd.exe"  DiskId='1' Name='UrBackupClient_cmd.exe' Source="$(var.datadir)\UrBackupClient_cmd.exe" />
					
			</Component>
			
            <Component Id='InstallService' Guid="0ba62980-ee40-4688-a1d6-25f50e1e0804" Win64="$(var.isx64)">
				<File Id="WindowsService" Name="UrBackupClientBackend.exe"
                  Source="$(var.datadir)\urbackupsrv.exe" KeyPath="yes">
					<firewall:FirewallException
					Id="ServiceFirewallException"
					Name="UrBackup Client Backend"
					Scope="any"
					Profile="all"
					/>
				</File>
				  
				  
				  
				<ServiceInstall
					  Id="ServiceInstaller"
					  Type="ownProcess"
					  Vital="yes"
					  Name="UrBackupClientBackend"
					  DisplayName="UrBackup Client Service for Backups"
					  Description="Image and file backups for user or administrator defined files and volumes"
					  Start="auto"
					  Account="LocalSystem"
					  ErrorControl="ignore"
					  Interactive="no"
					  >
					</ServiceInstall>
					<ServiceControl Id="StartService" Start="install" Stop="both" Remove="uninstall" Name="UrBackupClientBackend" Wait="yes" />
				
			</Component>
			
        </Directory>
      </Directory>
    </Directory>
		
	 
	<WixVariable Id="WixUIDialogBmp" Value="Bitmaps\WixUIDialogBmp.bmp" />
	<WixVariable Id="WixUIBannerBmp" Value="Bitmaps\WixUIBannerBmp.bmp" />
	
	<Property Id="WIXUI_INSTALLDIR" Value="URBACKUPDIR" />
	<UIRef Id="WixUI_InstallDirCustom" />
	
	<Icon Id="backup_ok_ico" SourceFile="backup-ok.ico" />
	<Property Id="ARPPRODUCTICON" Value="backup_ok_ico" />
	<Property Id="ARPHELPLINK" Value="http://www.urbackup.org/" />
	
	<Property Id="WixShellExecTarget" Value="[#UrBackupClient.exe]" />
	<CustomAction Id="LaunchApplication" BinaryKey="WixCA" DllEntry="WixShellExec" Impersonate="yes" />
	
    <Feature Id='urbackup_client' Title='UrBackup Client' Level='1'>
      <ComponentRef Id='urbackup_client' />
	  <ComponentGroupRef Id='CommonFiles' />
	  <ComponentRef Id='InstallService' />
	  <ComponentRef Id='UrBackupClientAutostart' />
    </Feature>
	<Feature Id="VCRedist" Title="Visual C++ 2010 Runtime" AllowAdvertise="no" Display="hidden" Level="1">
		<MergeRef Id="VCRedist"/>
	</Feature>
  </Product>
  
  <Fragment>
	<DirectoryRef Id="URBACKUPDIR">
		<Component Id="cmp93F292ADAF785F399E42E4F60E954A12" Guid="{47D632C6-7824-4E4D-9146-FA14C8DF0EF8}" Win64="$(var.isx64)">
                <File Id="fil6903CF037991ECFEDD00F4EC883D55AD" KeyPath="yes" Source="$(var.shared_data_dir)\backup-bad.ico" />
            </Component>
            <Component Id="cmpA3688A751E01CECC3FC213B9110D8650" Guid="{CA7EB480-D752-46BE-8C58-658A06E77FF0}" Win64="$(var.isx64)">
                <File Id="fil69521D7DB4FE874627D88AD1977BBD48" KeyPath="yes" Source="$(var.shared_data_dir)\backup-ok.ico" />
            </Component>
            <Component Id="cmp743471C3E6B3C2A36D480B78348AB71A" Guid="{C0BF71F5-5674-45CB-BAC9-63A173FDF70D}" Win64="$(var.isx64)">
                <File Id="filBD83A58B9BFC14A227C27DF1EA8A063D" KeyPath="yes" Source="$(var.shared_data_dir)\backup-progress-pause.ico" />
            </Component>
            <Component Id="cmpA506A755F6439AB0DED04F16F9519F36" Guid="{239C66AB-7164-4BEF-BA3D-9037BCEA3003}" Win64="$(var.isx64)">
                <File Id="fil52333B0481A4FDF2FF93D4E4B10DA690" KeyPath="yes" Source="$(var.shared_data_dir)\backup-progress.ico" />
            </Component>
            <Component Id="cmp6F67E569C00875CB92A3B5C5C8CE8852" Guid="{A8C77B9A-482B-4282-939A-E454AA8B94F3}" Win64="$(var.isx64)">
                <File Id="fil8F2E72C5A068C923F426772A12CB28F5" KeyPath="yes" Source="$(var.shared_data_dir)\curr_version.txt" />
            </Component>
            <Component Id="cmpABF00809AEDF68FD55CB21FD6A79E6F1" Guid="{E5C2E61E-11CD-4B7D-A19F-ECEFA0229187}" Win64="$(var.isx64)">
                <File Id="fil537298D957BE70C2055CF77D449FB765" KeyPath="yes" Source="$(var.shared_data_dir)\info.txt" />
            </Component>
            <Component Id="cmpA3C8DD197BD7132D070BA95A0D0737A9" Guid="{C4E48CB3-A26C-4454-B118-1A94C55827E1}" Win64="$(var.isx64)">
                <File Id="fil12A13679A0DE648F394113047E40AC74" KeyPath="yes" Source="$(var.shared_data_dir)\license.txt" />
            </Component>
            <Component Id="cmpB61E9C9B65B365882BCDEC02FD186348" Guid="{4E386F14-9893-442B-84B5-452ABD304A13}" Win64="$(var.isx64)">
                <File Id="fil546F0226153E9851C05E1F76661B2DF6" KeyPath="yes" Source="$(var.shared_data_dir)\logo1.png" />
            </Component>
            <Component Id="cmpE1C73D0402801F2E7299130A65DEDFF4" Guid="{FB944ED2-A199-4133-B5FF-627BC8BDC45A}" Win64="$(var.isx64)">
                <File Id="fil24D23E45263FDF8C9B4716EC1DC21EC1" KeyPath="yes" Source="$(var.shared_data_dir)\new.txt" />
            </Component>
            <Component Id="cmpCF4899F41946CAE795F36EC0B9414B31" Guid="{D51EB209-6D95-4F8C-9487-E68CCB89DEAD}" Win64="$(var.isx64)">
                <File Id="filBA1AFDB5114DD60BEDBD3377F3DE7D06" KeyPath="yes" Source="$(var.shared_data_dir)\updates_h.dat" />
            </Component>
            <Component Id="cmp37A94814CB169DB3ED2881E715547442" Guid="{37B02F8D-AF00-4CAA-9B68-4D5F26F2431F}" Win64="$(var.isx64)">
                <File Id="filAD7AA45493CFD8B8331044CD7393799C" KeyPath="yes" Source="$(var.shared_data_dir)\urbackup_dsa.pub" />
            </Component>
			<Directory Id="dir77A47C9F143A7502466C548C9FCBAD09" Name="lang">
				<Directory Id="dir77A47C9F143A7502466C548C9FCBAD08" Name="de">
					<Component Id="cmp3ADCE127861514104F3F9990F4DCEE67" Guid="{6FA6EDD9-8A38-4136-92A6-D6F3E008188A}" Win64="$(var.isx64)">
						<File Id="filE01BABC064CA6E3C82340AF8F7CE898E" KeyPath="yes" Source="$(var.shared_data_dir)\lang\de\urbackup.mo" />
					</Component>
				</Directory>
				<Directory Id="dir72226116A8527C99EDF529487A911522" Name="fr">
					<Component Id="cmp1BD08D74C1565C73FA7F252C3D5B0A0B" Guid="{68E7C236-8C59-4216-8240-587BC451CD73}" Win64="$(var.isx64)">
						<File Id="fil4AAB0F81E48E2917698958995EBB68B8" KeyPath="yes" Source="$(var.shared_data_dir)\lang\fr\urbackup.mo" />
					</Component>
				</Directory>
				<Directory Id="dir72226116A8527C99EDF529487A911523" Name="ru">
					<Component Id="cmp1BD08D74C1565C73FA7F252C3D5B0A0C" Guid="{36754ab3-8eef-4baa-a835-73f737e2a972}" Win64="$(var.isx64)">
						<File Id="fil4AAB0F81E48E2917698958995EBB68B9" KeyPath="yes" Source="$(var.shared_data_dir)\lang\ru\urbackup.mo" />
					</Component>
				</Directory>
				<Directory Id="dir72226116A8527C99EDF529487A911524" Name="es">
					<Component Id="cmp1BD08D74C1565C73FA7F252C3D5B0A1C" Guid="{94b1ecbd-728c-4198-a078-bdd1530d1569}" Win64="$(var.isx64)">
						<File Id="fil4AAB0F81E48E2917698958995EBB68BA" KeyPath="yes" Source="$(var.shared_data_dir)\lang\es\urbackup.mo" />
					</Component>
				</Directory>
				<Directory Id="dir72226116A8527C99EDF529487A911525" Name="zh_TW">
					<Component Id="cmp1BD08D74C1565C73FA7F252C3D5B0A2C" Guid="{94b1ecbd-728c-4198-a078-bdd1530d1570}" Win64="$(var.isx64)">
						<File Id="fil4AAB0F81E48E2917698958995EBB68B0" KeyPath="yes" Source="$(var.shared_data_dir)\lang\zh_TW\urbackup.mo" />
					</Component>
				</Directory>
				<Directory Id="dir72226116A8527C99EDF529487A911526" Name="zh_CN">
					<Component Id="cmp1BD08D74C1565C73FA7F252C3D5B0A3C" Guid="{94b1ecbd-728c-4198-a078-bdd1530d1571}" Win64="$(var.isx64)">
						<File Id="fil4AAB0F81E48E2917698958995EBB68B1" KeyPath="yes" Source="$(var.shared_data_dir)\lang\zh_CN\urbackup.mo" />
					</Component>
				</Directory>
				<Directory Id="dir72226116A8527C99EDF529487A911527" Name="pt_BR">
					<Component Id="cmp1BD08D74C1565C73FA7F252C3D5B0A4C" Guid="{94b1ecbd-728c-4198-a078-bdd1530d1572}" Win64="$(var.isx64)">
						<File Id="fil4AAB0F81E48E2917698958995EBB68B2" KeyPath="yes" Source="$(var.shared_data_dir)\lang\pt_BR\urbackup.mo" />
					</Component>
				</Directory>
				<Directory Id="dir72226116A8527C99EDF529487A911528" Name="it">
					<Component Id="cmp1BD08D74C1565C73FA7F252C3D5B0A5C" Guid="{94b1ecbd-728c-4198-a078-bdd1530d1573}" Win64="$(var.isx64)">
						<File Id="fil4AAB0F81E48E2917698958995EBB68B3" KeyPath="yes" Source="$(var.shared_data_dir)\lang\it\urbackup.mo" />
					</Component>
				</Directory>
				<Directory Id="dir72226116A8527C99EDF529487A911529" Name="pl">
					<Component Id="cmp1BD08D74C1565C73FA7F252C3D5B0A6C" Guid="{94b1ecbd-728c-4198-a078-bdd1530d1574}" Win64="$(var.isx64)">
						<File Id="fil4AAB0F81E48E2917698958995EBB68B4" KeyPath="yes" Source="$(var.shared_data_dir)\lang\pl\urbackup.mo" />
					</Component>
				</Directory>
				<Directory Id="dir72226116A8527C99EDF529487A911530" Name="sk">
					<Component Id="cmp1BD08D74C1565C73FA7F252C3D5B0A7C" Guid="{94b1ecbd-728c-4198-a078-bdd1530d1575}" Win64="$(var.isx64)">
						<File Id="fil4AAB0F81E48E2917698958995EBB68B5" KeyPath="yes" Source="$(var.shared_data_dir)\lang\sk\urbackup.mo" />
					</Component>
				</Directory>
				<Directory Id="dir72226116A8527C99EDF529487A911531" Name="uk">
					<Component Id="cmp1BD08D74C1565C73FA7F252C3D5B0A8C" Guid="{94b1ecbd-728c-4198-a078-bdd1530d1576}" Win64="$(var.isx64)">
						<File Id="fil4AAB0F81E48E2917698958995EBB68B6" KeyPath="yes" Source="$(var.shared_data_dir)\lang\uk\urbackup.mo" />
					</Component>
				</Directory>
				<Directory Id="dir72226116A8527C99EDF529487A911532" Name="da">
					<Component Id="cmp1BD08D74C1565C73FA7F252C3D5B0A9C" Guid="{94b1ecbd-728c-4198-a078-bdd1530d1577}" Win64="$(var.isx64)">
						<File Id="fil4CAB0F81E48E2917698958995EBB68B7" KeyPath="yes" Source="$(var.shared_data_dir)\lang\da\urbackup.mo" />
					</Component>
				</Directory>
				<Directory Id="dir72226116A8527C99EDF529487A911533" Name="nl">
					<Component Id="cmp1BD08D74C1565C73FA7F252C3D5B0B0C" Guid="{94b1ecbd-728c-4198-a078-bdd1530d1578}" Win64="$(var.isx64)">
						<File Id="fil4CAB0F81E48E2917698958995EBB68B8" KeyPath="yes" Source="$(var.shared_data_dir)\lang\nl\urbackup.mo" />
					</Component>
				</Directory>
				<Directory Id="dir72226116A8527C99EDF529487A911534" Name="fa">
					<Component Id="cmp1BD08D74C1565C73FA7F252C3D5B0B1C" Guid="{94b1ecbd-728c-4198-a078-bdd1530d1579}" Win64="$(var.isx64)">
						<File Id="fil4CAB0F81E48E2917698958995EBB68B9" KeyPath="yes" Source="$(var.shared_data_dir)\lang\fa\urbackup.mo" />
					</Component>
				</Directory>
			</Directory>
            <Directory Id="dir5CC00D708A190EEA836296A3646DFAF2" Name="urbackup">
                <Component Id="cmpF989989B3E76DC136F5507BF8CDAE791" Guid="{F07647BA-2C2A-4474-896A-8A55E95380FD}" Win64="$(var.isx64)">
                    <File Id="fil5186247F1A463F798D5080E6795495D3" KeyPath="yes" Source="$(var.shared_data_dir)\urbackup\backup_client.db.template" />
                </Component>
                <Directory Id="dirEC170182D8F256F50CFEE910C4E436EA" Name="data">
                    <Component Id="cmp146035BB0A33B65BB459A78C1BA9938B" Guid="{B4ED2659-34AB-47CA-A976-4C39EB0709FD}" Win64="$(var.isx64)">
                        <File Id="fil6E1D9D3FE5220570D063E923B17CDBF3" KeyPath="yes" Source="$(var.shared_data_dir)\urbackup\data\dummy" />
                    </Component>
                </Directory>
            </Directory>
		</DirectoryRef>
	</Fragment>
  
  <Fragment>
        <ComponentGroup Id="CommonFiles">
            <ComponentRef Id="cmp93F292ADAF785F399E42E4F60E954A12" />
            <ComponentRef Id="cmpA3688A751E01CECC3FC213B9110D8650" />
            <ComponentRef Id="cmp743471C3E6B3C2A36D480B78348AB71A" />
            <ComponentRef Id="cmpA506A755F6439AB0DED04F16F9519F36" />
            <ComponentRef Id="cmp6F67E569C00875CB92A3B5C5C8CE8852" />
            <ComponentRef Id="cmpABF00809AEDF68FD55CB21FD6A79E6F1" />
            <ComponentRef Id="cmpA3C8DD197BD7132D070BA95A0D0737A9" />
            <ComponentRef Id="cmpB61E9C9B65B365882BCDEC02FD186348" />
            <ComponentRef Id="cmpE1C73D0402801F2E7299130A65DEDFF4" />
            <ComponentRef Id="cmpCF4899F41946CAE795F36EC0B9414B31" />
            <ComponentRef Id="cmp37A94814CB169DB3ED2881E715547442" />
            <ComponentRef Id="cmp3ADCE127861514104F3F9990F4DCEE67" />
            <ComponentRef Id="cmp1BD08D74C1565C73FA7F252C3D5B0A0B" />
            <ComponentRef Id="cmpF989989B3E76DC136F5507BF8CDAE791" />
            <ComponentRef Id="cmp146035BB0A33B65BB459A78C1BA9938B" />
			<ComponentRef Id="cmp1BD08D74C1565C73FA7F252C3D5B0A0C" />
			<ComponentRef Id="cmp1BD08D74C1565C73FA7F252C3D5B0A1C" />
			<ComponentRef Id="cmp1BD08D74C1565C73FA7F252C3D5B0A2C" />
			<ComponentRef Id="cmp1BD08D74C1565C73FA7F252C3D5B0A3C" />
			<ComponentRef Id="cmp1BD08D74C1565C73FA7F252C3D5B0A4C" />
			<ComponentRef Id="cmp1BD08D74C1565C73FA7F252C3D5B0A5C" />
			<ComponentRef Id="cmp1BD08D74C1565C73FA7F252C3D5B0A6C" />
			<ComponentRef Id="cmp1BD08D74C1565C73FA7F252C3D5B0A7C" />
			<ComponentRef Id="cmp1BD08D74C1565C73FA7F252C3D5B0A8C" />
			<ComponentRef Id="cmp1BD08D74C1565C73FA7F252C3D5B0A9C" />
			<ComponentRef Id="cmp1BD08D74C1565C73FA7F252C3D5B0B0C" />
			<ComponentRef Id="cmp1BD08D74C1565C73FA7F252C3D5B0B1C" />			
        </ComponentGroup>
    </Fragment>
	
	<Fragment>
	 <DirectoryRef Id="URBACKUPDIR">
		<Component Id="UrBackupClientAutostart" Guid="23b72208-3295-4be9-9168-3ca240fd2190" Win64="$(var.isx64)">
		<RegistryKey Root="HKLM"
                     Key="Software\Microsoft\Windows\CurrentVersion\Run">
            <RegistryValue Type="string" Name="UrBackupClient" Value="[URBACKUPDIR]UrBackupClient.exe"/>
        </RegistryKey>
	  </Component>
	  </DirectoryRef>
	</Fragment>
  
	<Fragment>
        <UI Id="WixUI_InstallDirCustom">
            <TextStyle Id="WixUI_Font_Normal" FaceName="Tahoma" Size="8" />
            <TextStyle Id="WixUI_Font_Bigger" FaceName="Tahoma" Size="12" />
            <TextStyle Id="WixUI_Font_Title" FaceName="Tahoma" Size="9" Bold="yes" />

            <Property Id="DefaultUIFont" Value="WixUI_Font_Normal" />
            <Property Id="WixUI_Mode" Value="InstallDir" />

            <DialogRef Id="BrowseDlg" />
            <DialogRef Id="DiskCostDlg" />
            <DialogRef Id="ErrorDlg" />
            <DialogRef Id="FatalError" />
            <DialogRef Id="FilesInUse" />
            <DialogRef Id="MsiRMFilesInUse" />
            <DialogRef Id="PrepareDlg" />
            <DialogRef Id="ProgressDlg" />
            <DialogRef Id="ResumeDlg" />
            <DialogRef Id="UserExit" />
            
            <Publish Dialog="BrowseDlg" Control="OK" Event="DoAction" Value="WixUIValidatePath" Order="3">1</Publish>
            <Publish Dialog="BrowseDlg" Control="OK" Event="SpawnDialog" Value="InvalidDirDlg" Order="4"><![CDATA[WIXUI_INSTALLDIR_VALID<>"1"]]></Publish>

            <Publish Dialog="ExitDialog" Control="Finish" Event="EndDialog" Value="Return" Order="999">1</Publish>
			<Publish Dialog="ExitDialog"
					Control="Finish" 
					Event="DoAction" 
					Value="LaunchApplication">NOT Installed</Publish>

            <Publish Dialog="WelcomeDlg" Control="Next" Event="NewDialog" Value="InstallDirDlg">NOT Installed</Publish>
            <Publish Dialog="WelcomeDlg" Control="Next" Event="NewDialog" Value="VerifyReadyDlg">Installed AND PATCH</Publish>

            <Publish Dialog="InstallDirDlg" Control="Back" Event="NewDialog" Value="WelcomeDlg">1</Publish>
            <Publish Dialog="InstallDirDlg" Control="Next" Event="SetTargetPath" Value="[WIXUI_INSTALLDIR]" Order="1">1</Publish>
            <Publish Dialog="InstallDirDlg" Control="Next" Event="DoAction" Value="WixUIValidatePath" Order="2">NOT WIXUI_DONTVALIDATEPATH</Publish>
            <Publish Dialog="InstallDirDlg" Control="Next" Event="SpawnDialog" Value="InvalidDirDlg" Order="3"><![CDATA[NOT WIXUI_DONTVALIDATEPATH AND WIXUI_INSTALLDIR_VALID<>"1"]]></Publish>
            <Publish Dialog="InstallDirDlg" Control="Next" Event="NewDialog" Value="VerifyReadyDlg" Order="4">WIXUI_DONTVALIDATEPATH OR WIXUI_INSTALLDIR_VALID="1"</Publish>
            <Publish Dialog="InstallDirDlg" Control="ChangeFolder" Property="_BrowseProperty" Value="[WIXUI_INSTALLDIR]" Order="1">1</Publish>
            <Publish Dialog="InstallDirDlg" Control="ChangeFolder" Event="SpawnDialog" Value="BrowseDlg" Order="2">1</Publish>
            
            <Publish Dialog="VerifyReadyDlg" Control="Back" Event="NewDialog" Value="InstallDirDlg" Order="1">NOT Installed</Publish>
            <Publish Dialog="VerifyReadyDlg" Control="Back" Event="NewDialog" Value="MaintenanceTypeDlg" Order="2">Installed AND NOT PATCH</Publish>
            <Publish Dialog="VerifyReadyDlg" Control="Back" Event="NewDialog" Value="WelcomeDlg" Order="2">Installed AND PATCH</Publish>

            <Publish Dialog="MaintenanceWelcomeDlg" Control="Next" Event="NewDialog" Value="MaintenanceTypeDlg">1</Publish>

            <Publish Dialog="MaintenanceTypeDlg" Control="RepairButton" Event="NewDialog" Value="VerifyReadyDlg">1</Publish>
            <Publish Dialog="MaintenanceTypeDlg" Control="RemoveButton" Event="NewDialog" Value="VerifyReadyDlg">1</Publish>
            <Publish Dialog="MaintenanceTypeDlg" Control="Back" Event="NewDialog" Value="MaintenanceWelcomeDlg">1</Publish>

            <Property Id="ARPNOMODIFY" Value="1" />
        </UI>

        <UIRef Id="WixUI_Common" />
    </Fragment>
	
  
</Wix>